body {
  background-color: #f3f2f5;
}

#PHYS_ATTR_SVG_CONTAINER {
  height: 550px;
  width: 750px;
}

.attr-img-tooltip {
  padding: 2px;
}

#phys-attr-player-name-label {
  margin-left: 2rem;
}

#phys-attr-player-age-label {
  margin-left: 3rem;
}
